# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env

# Data files
data/*.csv
data/*.parquet

# Databricks
.ipynb_checkpoints/

# Ignore JetBrains IDE settings
.idea/

# Keep full data out of GitHub
data/raw/*.csv
data/curated/*.csv

# But allow small samples or README files
!data/raw/README.md
!data/curated/README.md
